body{
    background-image: url(../imagenes/background-login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'calibri';
}
#datos{
    padding: 20px;
    background-color: azure;
    position: absolute;
    height: 400px;
    width: 800px;
    left:26%;
    top: 15%;
    border-radius: 5%;
}
#volver{
    background-color: aquamarine;
    height: 25px;
}

h2{
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 10%;
    color: rgb(100, 100, 252);
    font-size: 35px;
    position: center;
    width: 200px;
}
input{ 
    background-color: rgb(255, 254, 254);
    right: 2%;
    width: 230px;
    height: 30px;
    border-radius: 6px;
    border: 6px solid rgb(47, 37, 74);
    margin-bottom: 20px;
}

#input3{
    bottom: 20%;
    position: absolute;
    left: 15%;
    width: 90px;
    height: 40px;
    background-color: rgb(2, 205, 205);
    color: rgb(241, 241, 243);
    border: none;
}
#ingreso{
    background-color: rgb(255, 254, 254);
    margin-left: 10px;
    position: absolute;
    top: 30%;
    width:255px;
    height: auto;
}
#signin{
    position: absolute;
    bottom: 30px;
    color: rgb(24, 77, 130);
}
#logo{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(../imagenes/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius:6px ;
    border-bottom-right-radius: 6px;
}