* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

#cabeceralogo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 96%;
  padding: 1% 1%;
  background-color: #000000;
}

#cabeceralogo > div {
  display: flex;
  flex: 1;
  max-width: 98%;
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#p1 {
  font: 40px Arial, sans-serif;
  color: #ffffff;
}

#p2 {
  padding-left: 2cm;
  font: 20px Arial, sans-serif;
  color: aqua;
}
#p3 {
  padding-left: 0.1cm;
  font: 20px Arial, sans-serif;
  color: aqua;
}
#p4 {
  padding-left: 0.1cm;
  font: 50px Arial, sans-serif;
  color: #ffffff;
}

#menuopciones {
  display: flex;
  justify-content: center;
  width: 98%;
  height: 100%;
  padding: 1% 1%;
  background-color: #000000;
  border-top: 0.5px solid #ffffff;
  border-bottom: 1px solid #000000;
}

#menuopciones > div {
  flex: 1;
  max-width: 960px;
}
#menuopciones li {
  display: inline-block;
  height: 25px;
  padding: 15px 60px 10px 60px;
  margin-right: 10px;
  transition: color 0.2s, width 1s, height 1s;
}

#menuopciones a {
  transition: color 0.2s, width 1s, height 1s;
}

#menuopciones a:hover {
  color: aqua;
}
#menuopciones a {
  font: 20px Calibri (Cuerpo), sans-serif;
  color: #ffffff;
  text-decoration: none;
}

#pielogo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.815);
}
#pielogo > div {
  display: flex;
  flex: 1;
  max-width: 1500px;
  border-radius: 10px;
}
.redes {
  flex: 1;
  padding-left: 15%;
}
.redes h1 {
  color: white;
  font: bold 20px Segoe UI, sans-serif;
  padding-bottom: 2%;
}
.redes p {
  margin-top: 10px;
}

#l2 {
  padding-left: 10%;
}
.redes img {
  opacity: 30%;
  transition: color 0.2s, width 1s, height 1s;
}
.redes img:hover {
  opacity: 100%;
}
.contacto {
  flex: 1;
  padding-left: 0%;
}
.contacto h1 {
  color: white;
  font: bold 20px Segoe UI, sans-serif;
  padding-bottom: 2%;
}
.contacto p {
  font: 14px Arial, sans-serif;
  color: #ffffff;
  opacity: 30%;
  text-decoration: none;
  padding-top: 4%;
  transition: color 0.000001s, width 1s, height 1s;
}
.contacto p:hover {
  opacity: 100%;
}

#listaredes {
  display: flex;
  padding-top: 2%;
  padding-bottom: 5%;
}

#listaenlaces {
  padding-top: 5%;
  padding-bottom: 5%;
}
#listaenlaces p {
  height: 25px;
  margin-right: 10px;
}
#listaenlaces a {
  font: 14px Arial, sans-serif;
  color: #ffffff;
  opacity: 30%;
  text-decoration: none;
  transition: color 0.000001s, width 1s, height 1s;
}
#listaenlaces a:hover {
  color: aqua;
  opacity: 100%;
}

.seccionpie {
  flex: 1;
  padding: 25px;
}
.seccionpie h1 {
  color: white;
  font: bold 22px Arial, sans-serif;
}
.seccionpie p {
  margin-top: 5px;
}
.seccionpie a {
  font: bold 14px Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

#derechos {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  background-color: rgba(0, 0, 0, 0.815);
  border-top: 0.5px solid #ffffff;
}
#derechos p {
  font: 14px Arial, sans-serif;
  color: white;
  opacity: 30%;
}
.marcas {
  width: 94%;
  padding: 3%;
  display: flex;
  color: black;
  font: 20px Arial, sans-serif;
  justify-content: center;
}
.marcas h1 {
  color: black;
  font: bold 35px Segoe UI, sans-serif;
}

#asus {
  border-radius: 10px;
  border-bottom-right-radius: 200px;
  border-style: solid;
  border-color: rgb(19, 190, 93);
  background-color: rgb(19, 190, 93);
  flex: 1;
  padding: 2%;
}
#lenovo {
  color: white;
  border-radius: 10px;
  border-bottom-right-radius: 200px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  flex: 1;
  padding: 2%;
}
#lenovo h1 {
  color: white;
}
#dell {
  border-radius: 10px;
  border-bottom-right-radius: 200px;
  border-style: solid;
  border-color: rgb(107, 100, 99);
  background-color: rgb(107, 100, 99);
  flex: 1;
  padding: 2%;
}
#botones {
  padding-top: 4%;
}
#saber {
  padding: 3%;
  width: 80%;
  font: bold 20px Segoe UI, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #000000;
  transition: color 0.2s, width 1s, height 1s;
  transition: background 0.2s, width 1s, height 1s;
}

#saber:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.servicios {
  flex: 1;
  width: 90%;
  padding: 5%;
  display: flex;
  color: black;
  font: 20px Arial, sans-serif;
  justify-content: center;
}

.servicios div {
  opacity: 50%;
  font: bold 15px Segoe UI, sans-serif;
  flex: 1;
  padding-left: 8%;
  padding-right: 8%;
  transition: color 0.00001s, width 1s, height 1s;
}

.servicios div:hover {
  opacity: 100%;
}

main h1 {
  opacity: 100%;
  font: bold 30px Segoe UI, sans-serif;
  padding-bottom: 2%;
}
main h2 {
  opacity: 100%;
  font: bold 20px Segoe UI, sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
}

#politicas li {
  opacity: 70%;
}
#politicas p {
  opacity: 70%;
}

main {
  font: 15px Segoe UI, sans-serif;
  text-align: justify;
  line-height: 35px;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  display: flex;
  flex: 1;
}
main div {
  padding-left: 8%;
  padding-right: 10%;
}
#divproductos {
  width: 400px;
}
#productos {
  padding-left: 1%;
  padding-top: 4%;
  display: flex;
  flex: 1;
  width: 300px;
  font: 13px Segoe UI, sans-serif;
  text-align: justify;
  line-height: 25px;
}
#productos p {
  padding-top: 6%;
}
#productos a {
  font: 13px Segoe UI, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 70%;
  text-decoration: none;
  transition: color 0.000001s, width 1s, height 1s;
}
#productos a:hover {
  color: rgb(0, 255, 255);
  opacity: 100%;
}
#divbajo {
  padding-top: 5%;
  font: bold 15px Segoe UI, sans-serif;
  text-align: justify;
  line-height: 40px;
}
.formulario h1 {
  padding-top: 10%;
  padding-bottom: 8%;
}

.formulario {
  font: 17px Segoe UI, sans-serif;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "calibri";
  font-size: 16px;
}
.mensaje {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "calibri";
  font-size: 16px;
  border-width: 2px;
  border-color: black;
}
textarea {
  resize: none;
}
.boton {
  color: white;
  width: 50%;
  font-family: "calibri";
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 16px;
  background-color: black;
  transition: color 0.5s;
}
.boton:hover {
  background-color: rgb(0, 217, 255);
  color: black;
}
.form {
  padding-left: 1%;
}
.direc {
  padding-bottom: 10%;
}
